/* CHORD SHORTCODES */
.guitar-chord{
	display: inline-block;
	vertical-align: top;
}
.guitar-chord-wrapper{
	display: inline-block;
	vertical-align: top;
}
.guitar-chord thead{
	text-align: center;
}
.guitar-chord td{
	background:#fff !important;
	border:1px solid lightgray;
	height: 30px;
	width: 21px;
	padding: 5px !important;
	vertical-align: middle;
	text-align: center;
}
.guitar-chord td span{
	position: relative;
	right: 11px;
	top: 0px;
	background: #fff;
}
.guitar-chord tr:first-of-type{
	font-weight:bold;
}
.guitar-chord tr td:last-of-type, .guitar-chord tr td:first-of-type{
	border:0;
}
.guitar-chord tr td:first-of-type{
	border-left: 0;
}
.guitar-chord tr:first-of-type td{
	border:0;
}
.guitar-chord tr td:first-of-type span{
	right:10px;
}
.guitar-chord-nut{
	border:0 !important;
}