/* CHORD SHORTCODES */
.guitar-chord, .banjo-chord {
	display: inline-block;
	vertical-align: top;
}
.guitar-chord-wrapper{
	display: inline-block;
	vertical-align: top;
}
.guitar-chord thead, .banjo-chord thead {
	text-align: center;
}
.guitar-chord td, .banjo-chord td {
	background:#fff !important;
	border:1px solid lightgray;
	height: 30px;
	width: 21px;
	padding: 5px !important;
	vertical-align: middle;
	text-align: center;
}
.guitar-chord td span, .banjo-chord td span {
	position: relative;
	right: 11px;
	top: 0px;
	background: #fff;
}
.guitar-chord tr:first-of-type, .banjo-chord tr:first-of-type {
	font-weight:bold;
}
.guitar-chord tr td:last-of-type, .guitar-chord tr td:first-of-type, .banjo-chord tr td:last-of-type, .banjo-chord tr td:first-of-type {
	border:0;
}
.guitar-chord tr td:first-of-type, .banjo-chord tr td:first-of-type {
	border-left: 0;
}
.guitar-chord tr:first-of-type td, .banjo-chord tr:first-of-type td {
	border:0;
}
.guitar-chord tr td:first-of-type span, .banjo-chord tr td:first-of-type {
	right:10px;
}
.guitar-chord-nut{
	border:0 !important;
}
